@charset "utf-8";
@import url("https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css");
@import url("fontello.css");

/* 스타일 초기화 */
*, *::before, *::after{
  box-sizing: border-box; /* 사이즈를 계산할때 패딩값을 함께 처리한다는 뜻 */
  margin: 0;
  padding: 0;
}
html{
  font-size: 10px;
}
ul{
  list-style-type: none ;
}
a{
  text-decoration: none;
  color: inherit;  /* 부모로부터 상속받은 칼라를 쓰라는 뜻 여기서는 body꺼를 받는다.*/
}

/* 숨긴컨텐츠 */
.readable-hidden, legend{
  position: absolute;  /* 보이지는 않지만 스크린리더는 읽음  margin까지 안보이게 처리 */
  width:1px;
  height:1px;
  overflow:hidden;
  clip: rect(0,0,0,0);
  margin: -1px;    /*   clip 안되는 브라우저 있어 사용함 */
}
/* 클래스 모듈 */
/* float 이슈를 해결하기 위한 clear 기능 */
.clearfix::after{ /* 마지막에 가까 요소를 만들어준다.*/
  content: "";
  display: block;  /* after는 인라인 요소이므로 clear가 안된다 그러므로 블럭박스로 속성을 변경한다.*/
  clear: both;
 }

/*   기본스타일 */
body{
  color:#181818;
  font-size: 1.4rem; /* rem은 무조건 루트를 기준으로 계산한다는뜻 반응형에서 화면사이즈에 맞게 자동으로 처리한다. */
  font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';
  font-weight: 400;
  line-height: 1.15;
  background: linear-gradient(to bottom, #ccc, #eee 45%, #fff 70%, #fff 100%)
  }

/* 컨테이너 */
.container{
  background: url("images/bg_flower.png") no-repeat 50% 0;
}
.header, .visual, .main, .slogan, .footer{
  width: 940px; 
  margin:0 auto;
}

/* 헤더 */
.header{
  position: relative;
  background: #fff;
  padding: 0 30px 45px;
  border-radius:0 0 15px 15px; 
}

/* 로고 */
.logo{
  position: absolute;
  top: 50px;
  left:65px;
}

/* 안내링크 */
.member{
  text-align: right;    /* 메뉴 오른쪽을 정렬   ㅣfloat 와 같은 효과 */
  font-size: 0;  /* 메뉴간격 0*/
  padding: 0 2px 0;
  margin-right: -10px;
}
.member li, .member a{
  display: inline-block;
}
.member li{
  display: inline-block;/* 박스가로배치 메뉴가 옆으로 위치 float left와 같은 효과*/
  font-size: 1.4rem;
  text-transform: uppercase; /* 소문자를 대문자로 변경*/
}
.bar::before{ /* bar class 앞에만 적용하겠다는 뜻 */
  content: ":";
  margin: 0 1px; /* 콜론 좌우에 공백을 처리한다.*/
}
.member a{
  padding: 5px 10px;  /* 터치(클릭) 영역을 크게 하기 위해서 a링크 테그에 면적을 할당한다. */
  display: inline-block;
}
.bg-footer{
 background: red
}

/* 메인 메뉴 */
.menu{
  background: linear-gradient(to bottom, #e8852e 0%,#ed552f 35%,#ed552f 70%,#e8852e 100%);/* linear 앞에 red 적으면 linear 지원안할때 빵강배경보임배경색 글라데이션*/
  margin-top: 10px;
  padding-left: 225px;
  border-top: 2px solid #000;
  border-radius: 0 0 5px 5px;
}
.menu > li{
  float: left;
  position: relative;
}
.menu-item-text{
  font-size: 1.7rem;
  font-weight: 700;
  color: #fff;
  padding: 1em 18px; /* 위아래 여백을 준다*/
  display: block;
  border-left: 1px solid #fff;
  text-shadow: 1px 0px 0 #000,0px 1px 0 #000,-1px 0px 0 #000,0px -1px 0 #000;
}
.menu-act .menu-item-text{
  color: #ff0;
  position: relative;
}
.menu-act .menu-item-text::after{
  width: calc(100% - 36px);
  bottom: -2px;
  content: "";
  display: block;
  position: absolute;  
  border-top: 2px solid #000;
}
.sub-menu{
  position: absolute;
  white-space: nowrap;
  top: 55px;
  display: none;
}
.menu-act .sub-menu{
  display: block;
}
.sub-menu1, .sub-menu2, .sub-menu3{
  left: 0;
}
.sub-menu4, .sub-menu5, .sub-menu6{
  right: 0;
}
.sub-menu li, .sub-menu a{
  display: inline-block;
}
.sub-menu a{
  padding: 10px 0;
  margin-right: 10px;
}

/*  비주얼 */
@keyframes textAni{
  0%{
    font-size: 12px;  
    color: rgba(0,0,0,0);
    transform: translate(0,0);
  }
  100%{
    font-size: 24px;
    color: rgba(0,0,0,1);
    transform: translate(400px,75px);
  }
}
@keyframes flowerAni{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}
.visual{
  height: 120px;
  position: relative;
}
.visual::before, .visual::after{
  content: "";
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  animation-name: flowerAni;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.visual::before{
  background-image: url("images/ani_flower_01.png"), url("images/ani_flower_02.png");
  background-position: 0 -10px, 670px 0;
}
.visual::after{
  background-image: url("images/ani_flower_03.png"), url("images/ani_flower_04.png");
  background-position: 300px 0, 800px 0;
  animation-delay: 1s;
  animation-timing-function: ease-in-out;
}
.visual-text{
  font-family: Georgia, 'Times New Roman', Times, serif;
  animation-name: textAni;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  width: 545px;
}

/* 메인 콘텐츠   */
.main{
  background: #fff;
  padding: 30px;
  height:450px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  border-radius: 15px 15px 0 0;
}
.group1{
  width: 250px;
}
.group2{
  width: 380px;
  
}
.group3{
  width: 100px;
}

/* 로그인  */
.login{
  background: #e8852e radial-gradient(circle at right top, #e8852e, #ed552f);
  border-radius: 5px;
  padding: 10px;
  box-shadow: 5px 5px 0 0 #aaa;

}
.login-heading{
  font-size: 1.5rem; 
  font-weight: 700;
  color: #ff0;
  padding-left: 10px;
}
.login-form{
  background: rgb(255,255,255);
  margin-top: 10px;
  padding: 10px 10px 0 10px;
  border-radius: 5px 5px 0 0;
}
.login fieldset{
  border: 0px;
  position: relative;
  border-bottom: 1px solid #aaa;
  padding-bottom: 10px;
}
.login-form label{
  display: inline-block;
  width: 4em;
}
.login-form input{
  width: 95px;
  height: 24px;
  border: 1px solid #aaa;
  padding: 1px 1px 1px 5px;
}
.user-pw{
  margin-top: 5px;
}
.btn-login{
  position: absolute;
  top: 0;
  right: 0;
  background: #ed552f;
  color: rgb(255,255,255);
  border-radius: 3px;
  border: 0;
  padding: 0;
  font-size: 1.2rem;
  cursor: pointer;
  width: 50px;
  height: 54px;
}
.sign{
  background: rgb(255,255,255);
  border-radius: 0 0 5px 5px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-size: 1.3rem;
}
.sign .icon-right-open::before{
  color: #ed552f;
  margin: 0;
}

/* 유효성검사 배너*/
.validation{
  margin-top: 25px;
}
.validation-list a{
  display: block;   /* 링크를 전체 면적에 주기 위해서 변형 */
  background:  url("images/validation_icon.png") no-repeat 20px 50%, linear-gradient(180deg, #bbb, #eee) ;
   /* 맨마지막 앞에 폴백 칼라를 선언한다. 또는 아래처럼 한번더 선언한다.*/
  background-color: #bbb;
  border-radius: 30px;
  border: 1px solid #aaa;
  padding: 8px 15px 8px 45px;
  margin: 10px 0;
}
.validation-list a:hover,
.validation-list a:focus{
  color: rgb(255,0,0);
}

/* 웹관련용어 */
.term{
  border: 1px solid #aaa;
  border-radius: 5px;
  background: #bbb linear-gradient(to bottom, #bbb, #eee);
  padding: 10px 15px;
}
.term-heading{
  font-size: 1.5rem;
  font-weight: 700;
}

.term-list > div{
  margin-top: 10px;
}
.term-list-subject, .term-list-brief{
  width: 145px;
  float: right;
}
.term-list-subject{
  color: #296897;
}
.term-list-thumbnail {
  float:left;
}
.term-list-thumbnail img{
  vertical-align: middle;
}
.term-list-brief{
  margin-top: 5px;
  line-height: 1.5rem;
}

.even .term-list-subject, .even .term-list-brief{
  width: 145px;
  float: left;
}
.even .term-list-thumbnail{
  float:right;
}

/* 검색 폼 */
.search {
  border: 1px solid #aaa;
  border-radius: 15px 15px 0 0; 
  border-bottom: 0;
  padding: 15px 25px 10px;
  background: #bbb linear-gradient(to bottom, #bbb, #fff);
}
.search-form fieldset{
  border: 0;
}
.search-form label, .search-form input, .btn-search{
  vertical-align: middle;
}
.search-form input{
  width: 190px;
  height: 24px;
  border: 1px solid #aaa;
  padding: 1px 1px 1px 5px;
  margin: 0 1px;
}
.btn-search{
  background: #333;
  color: #fff;
  border: 0;
  padding: 0 10px;
  height: 24px;
  border-radius: 3px;
}



